.eventheader{
    position:relative;

    overflow: hidden;
}

.eventhead{
    position:relative;
    padding:80px 15px;
    margin: 0;
    text-align:center;
    text-shadow:0 1px 0 rgba(0,0,0,.1);
    background-color:#6883cc;
    background-repeat:no-repeat;

    /*! background-position:center center; */
    background-attachment:fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

.image-overlay {
    background-image: -webkit-linear-gradient( rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    background-image: linear-gradient( rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#70000000, endColorstr=#70000000 );
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.eventname {
    color: white;
    position: relative;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
}

.descp{
    width: 60%;
    color:black;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    min-height: 400px;
    line-height: 1.5;
}
.detail{
    margin-left:10%;
    width:30%;
    float: left;
    margin-top: 10px;
    min-height: 400px;
}
#clear {
    clear: both;
}